@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-ash-grey: #F5F5F5;
  --color-emerald: #50C878;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-ash-grey text-gray-800 font-sans;
  }
}
